[defaults]
localhost_warning=False
#vault_password_file = ~/ansible/.vault-pass
callbacks_enabled = profile_tasks
roles_path = ~/.ansible/roles:~/ansible/roles:./roles
# Easier to read error messages
stdout_callback=debug
stderr_callback=debug
# Required for long set up scripts on Hetzner

ansible_managed = Ansible managed
                  Template: {file}
                  Modified: %Y-%m-%d %H:%M:%S
                  ......By: {uid}
                  ......On: {host}

[inventory]
inventory_unparsed_warning=False
