{% for drive in hostvars[inventory_hostname].hetzner_pve_drive_paths %}
DRIVE{{ loop.index }} {{ drive }}
{% endfor %}

SWRAIDLEVEL 1
SWRAID {{ hetzner_pve_swraid }}

BOOTLOADER grub
HOSTNAME {{ inventory_hostname }}

IPV4_ONLY yes

USE_KERNEL_MODE_SETTING yes

PART  /boot  ext3  1024M
PART  lvm    vg0    all
LV  vg0  root  /     ext4  100G
LV  vg0  swap  swap  swap   64G
LV  vg0  isos  /home/isos  ext4  100G
LV  vg0  backups  /home/backups  ext4  450G

IMAGE /root/images/Debian-bookworm-latest-amd64-base.tar.gz
SSHKEYS_URL /tmp/authorized_keys