#Packages and Security Updates from the Hetzner Debian Mirror
deb https://mirror.hetzner.com/debian/packages  {{hetzner_pve_os}}           main contrib non-free non-free-firmware
deb https://mirror.hetzner.com/debian/packages  {{hetzner_pve_os}}-updates   main contrib non-free non-free-firmware
deb https://mirror.hetzner.com/debian/security  {{hetzner_pve_os}}-security  main contrib non-free non-free-firmware
deb https://mirror.hetzner.com/debian/packages  {{hetzner_pve_os}}-backports main contrib non-free non-free-firmware

deb http://ftp.debian.org/debian {{hetzner_pve_os}} main contrib
deb http://ftp.debian.org/debian {{hetzner_pve_os}}-updates main contrib
deb http://security.debian.org/debian-security {{hetzner_pve_os}}-security main contrib